@import "../abstracts";

.navbar {

  .navbar-nav {

    .nav-item {

      .nav-link {
        font-size: 14px;
        padding-right: 32px;
        font-weight: 700;

        &:hover {
          color: $almost-black;
        }
      }

      .fa-solid {
        transition: transform 0.5s ease;
      }

      .rotate {
        transform: rotate(180deg);
        transition: transform 0.5s ease;
      }

      .btn-mentor {
        border-radius: 13px;

        &-white {
          border: 2px solid $medium-gray;
          padding: 10px 20px;

          &:hover {
            border: 2px solid $almost-black;
            transition: all 0.5s ease;
          }
        }
      }
    }

    .dropdown-menu {
      display: none;
      flex-direction: column;
      opacity: 0;
      transition: opacity 0.5s ease;
      column-gap: 10px;
      border-radius: 12px;
      border: none;
      padding: 20px 10px;
      box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;

      .dropdown-item {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 14px;
        color: $medium-gray !important;

      }
    }

    .dropdown-list {
      right: 30px;
      left: unset;
    }

    .show {
      display: flex;
      opacity: 1;
      transition: opacity 0.5s ease;

    }
  }
}