@import "../abstracts";

.navbar {
  margin-top: 15px;

  .navbar-nav {

    .nav-item {
      .nav-link {
        font-size: 14px;
        padding-right: 32px;
        font-weight: 700;

        &:hover {
          color: $almost-black;
        }

      }

      .fa-solid {
        transition: transform 0.5s ease;
      }

      .rotate{
        transform: rotate(180deg);
        transition: transform 0.5s ease;
      }

      .btn-mentor {
        border-radius: 18px;

        &-white {
          border: 2px solid $medium-gray;
          padding: 10px 20px;

          &:hover {
            border: 2px solid $almost-black;
          }
        }
      }
    }

    .dropdown-menu {
      display: flex;
      flex-direction: column;
      opacity: 1;
      transform: translateY(100%) scale(0);
      right: 30px;
      left: unset;
      border-radius: 12px;
      padding: 20px 10px;
      column-gap: 10px;

      .dropdown-item {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 14px;
        color: $medium-gray !important;

      }
    }

    .show {
      opacity: 1;
      transform: translateY(100%) scale(0);
    }
  }
}